html {
  box-sizing: border-box;
  font-family: sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.card {
  height: 100px; width: 66px; display: inline-block; margin: 10px; padding: 5px;
  border: 1px solid #000000; border-radius: 5px;
  font-size: 24px;
}
.clubs { color: #007700; }
.diamonds { color: #0000FF; }
.hearts { color: #FF0000; }
.spades { color: #000000; }

.pip { width: 1em; text-align: center; }

.board, .seat { height: 120px; width: 600px; }
.seat { width: 240px; }
.hole-cards { display: inline-block; margin-right: 86px; }